[Unit]
Description=C64 socat shell listener
After=network.target

[Service]
ExecStart=/usr/bin/socat TCP-LISTEN:2323,reuseaddr,fork EXEC:'/usr/bin/env -i TERM=vt100 PS1=$  /bin/sh -i',pty,setsid,ctty,icanon=1,echo=1,echoctl=0,isig=1,iexten=1,opost=1,onlcr=1,icrnl=1
Restart=always

[Install]
WantedBy=multi-user.target
